R - obsolete functions/
R - unfinished functions/
inst/extdata/Obsolete/
inst/extdata/Utils_private/

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# (optionally protect other local caches)
*.Rapp.history
